@use '@angular/material' as mat;
@use "./palettes.scss" as palettes;

[app-theme="light"]{

  $light-purple-primary: mat.define-palette(palettes.$green, 500);
  $light-purple-accent: mat.define-palette(palettes.$orange, 400);
  $light-purple-warn: mat.define-palette(palettes.$pink, 400);

  $light-theme: mat.define-light-theme((
    color: (
      primary: $light-purple-primary,
      accent: $light-purple-accent,
      warn: $light-purple-warn
    ),
    typography: mat.define-typography-config(),
    density: 0,
  ));

  @include mat.all-component-themes($light-theme);
  @include mat.button-color($light-theme);
}
