//Use the Angular Material Color Tool to generate palettes for you theme https://m2.material.io/design/color/the-color-system.html.

/*
Subtitle:
C: Complementary
AL: Accent Light
AD: Accent Dark
TL: Triadic Light
TD: Triadic Dark
*/
@function merge-with-contrast($colors){
  @return map-merge($colors,(
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: white,
        A400: white,
        A700: white
    )
  ))
}


$purple: merge-with-contrast(
  (
    50: #f0e5fd,
    100: #d6c0f9,
    200: #ba95f6,
    300: #9c66f4,
    400: #8340f2,
    500: #6702ee,
    600: #5a00e8,
    700: #4600e0,
    800: #2c00db,
    900: #0000d6,
    C50: #f2fae8,
    C100: #e0f1c5,
    C200: #cae7a0,
    C300: #b5de78,
    C400: #a3d658,
    C500: #92cf36,
    C600: #81be2e,
    C700: #6caa23,
    C800: #579619,
    C900: #2e7400,
    AL50: #f6e5f8,
    AL100: #e9bded,
    AL200: #db90e3,
    AL300: #cb60d8,
    AL400: #bf36cf,
    AL500: #b300c6,
    AL600: #a300c0,
    AL700: #8e00ba,
    AL800: #7b00b4,
    AL900: #5600a7,
    AD50: #e8e9fa,
    AD100: #c5c7f1,
    AD200: #9ea3e8,
    AD300: #767fdf,
    AD400: #5762d7,
    AD500: #3645cf,
    AD600: #313dc4,
    AD700: #2732b8,
    AD800: #1c27ac,
    AD900: #020d9a,
    TL50: #f5e3ef,
    TL100: #e8b8d9,
    TL200: #dc8ac0,
    TL300: #d35ba6,
    TL400: #cf3692,
    TL500: #cd007c,
    TL600: #bc0077,
    TL700: #a6046e,
    TL800: #900867,
    TL900: #690b59,
    TD50: #fbf2e4,
    TD100: #f6debb,
    TD200: #f1c990,
    TD300: #ecb468,
    TD400: #e8a54f,
    TD500: #e39842,
    TD600: #de8d3e,
    TD700: #d7803a,
    TD800: #cf7336,
    TD900: #c16032,
  )
);


$green: merge-with-contrast(
  (
    50: #f0fde7,
    100: #d9fac4,
    200: #bff69d,
    300: #a1f26f,
    400: #85ee46,
    500: #69e900,
    600: #56d700,
    700: #37c200,
    800: #00ae00,
    900: #008b00,
    C50: #f2e6fc,
    C100: #dbc1f8,
    C200: #c397f5,
    C300: #aa69f1,
    C400: #9642ee,
    C500: #8000e9,
    C600: #7500e3,
    C700: #6500db,
    C800: #5500d5,
    C900: #3600cf,
    AL50: #fcfde6,
    AL100: #f6f8c0,
    AL200: #f0f596,
    AL300: #e9f169,
    AL400: #e3ec42,
    AL500: #dde900,
    AL600: #d0d600,
    AL700: #bec000,
    AL800: #ada800,
    AL900: #928100,
    AD50: #ecfee8,
    AD100: #cffac5,
    AD200: #acf79d,
    AD300: #82f371,
    AD400: #57ee48,
    AD500: #00e90c,
    AD600: #00d700,
    AD700: #00c200,
    AD800: #00ad00,
    AD900: #008a00,
    TL50: #e1fcea,
    TL100: #b6f6ca,
    TL200: #7eefa7,
    TL300: #00e980,
    TL400: #00e160,
    TL500: #00d846,
    TL600: #00c73b,
    TL700: #00b32d,
    TL800: #00a120,
    TL900: #008005,
    TD50: #e3f3ff,
    TD100: #bbe1ff,
    TD200: #8cd0ff,
    TD300: #55bcff,
    TD400: #19adff,
    TD500: #009eff,
    TD600: #008eff,
    TD700: #007bfb,
    TD800: #0069e9,
    TD900: #1447ca,
  )
);

$pink: merge-with-contrast(
  (
    50: #fce4ee,
    100: #f8bbd5,
    200: #f48eb9,
    300: #f1609d,
    400: #ef3a86,
    500: #ee006f,
    600: #dc016b,
    700: #c60266,
    800: #b10161,
    900: #8b0059,
    C50: #e1fdea,
    C100: #b7f8ca,
    C200: #7ff3a7,
    C300: #00ee7f,
    C400: #00e75d,
    C500: #00de43,
    C600: #00cd37,
    C700: #00b929,
    C800: #00a71c,
    C900: #008600,
    AL50: #fee0fa,
    AL100: #f9b1f3,
    AL200: #f476ed,
    AL300: #ee00e6,
    AL400: #e800e1,
    AL500: #d700d2,
    AL600: #c600cf,
    AL700: #ae00cc,
    AL800: #9800c7,
    AL900: #6d00bf,
    AD50: #ffe8e6,
    AD100: #ffe8e6,
    AD200: #ffc8b9,
    AD300: #ffa38c,
    AD400: #ff7c5d,
    AD500: #ff5a39,
    AD600: #ff2e12,
    AD700: #ff260e,
    AD800: #ee0800,
    AD900: #d70000,
    TL50: #fef3e0,
    TL100: #fce0b3 ,
    TL200: #fbcd81,
    TL300: #f9b84e,
    TL400: #f8a928,
    TL500: #f89a05,
    TL600: #f48e02,
    TL700: #ee7f00,
    TL800: #e86f00,
    TL900: #df5600,
    TD50: #f1fee8,
    TD100: #dbfbc5,
    TD200: #c2f99e,
    TD300: #a5f671,
    TD400: #8af247,
    TD500: #6fee00,
    TD600: #5cdc00,
    TD700: #3ec700,
    TD800: #0ab200,
    TD900: #008f00,
  )
);
$red: merge-with-contrast(
  (

  )
);

$orange: merge-with-contrast(
  (
    50: #fff3e0,
    100: #ffdfb1,
    200: #ffca7f,
    300: #ffb44c,
    400: #fea425,
    500: #fe9400,
    600: #fa8801,
    700: #f47802,
    800: #ee6802,
    900: #e54d03,
    C50: #e1f1ff,
    C100: #b8dcff,
    C200: #86c7ff,
    C300: #48b0ff,
    C400: #009eff,
    C500: #008dff,
    C600: #007dff,
    C700: #006afe,
    C800: #1a57eb,
    C900: #2a30cb,
    AL50: #ffe7e6,
    AL100: #ffc8b8,
    AL200: #ffa38a,
    AL300: #ff7b5b,
    AL400: #ff5836,
    AL500: #ff2a0c,
    AL600: #ff2207,
    AL700: #fe1500,
    AL800: #f00000,
    AL900: #d90000,
    AD50: #fdffe7,
    AD100: #f8fdc1,
    AD200: #f1fb95,
    AD300: #eaf966,
    AD400: #e3f53b,
    AD500: #e9fe00,
    AD600: #dbea00,
    AD700: #cad300,
    AD800: #babb00,
    AD900: #a09300,
    TL50: #efffe5,
    TL100: #d7ffbe ,
    TL200: #b8ff90,
    TL300: #92ff58,
    TL400: #6afe00,
    TL500: #32fb00,
    TL600: #00e900,
    TL700: #00d300,
    TL800: #00bf00,
    TL900: #009a00,
    TD50: #e3ffed,
    TD100: #baffd3,
    TD200: #84ffb6,
    TD300: #00fe94,
    TD400: #00fa77,
    TD500: #00f361,
    TD600: #00e155,
    TD700: #00cd47,
    TD800: #00ba3b,
    TD900: #009824,
  )
);
